.bp-media-settings-boxes-wrapper {
    float: left;
    width: 75%;
    margin: 10px 0px 0 2px;
}

#rtmedia-transcoding-usage strong {
    display: inline-block;
    min-width: 120px;
}

#rtmedia-transcoding-usage p {
    overflow: hidden;
}

.transcoding-used, .transcoding-remaining {
    background: #7AD03A;
    float: right;
    height: 12px;
    margin-top: 3px;
    width: 12px;
}

.transcoding-remaining {
    background: #dedede;
}

#rtprogressbar {
    background: #dedede;
    height: 10px;
    position: relative;
}

#rtprogressbar div {
    background: #7AD03A;
    height: 10px;
    left: 0;
    position: absolute;
}

.rtm-transcoder-setting-container {
    background-color: #fff;
    margin-top: 10px;
    padding: 10px 20px;
}

.rtm-transcoder-sidebar {
    float: right;
    margin: 10px 0 0;
    width: 23%;
}

.rtm-transcoder-plan-table {
    border-collapse: collapse;
    clear: none;
}

.rtm-transcoder-plan-table th,
.rtm-transcoder-plan-table td {
    border: 1px solid #e7e7e7;
}

.rtm-transcoder-plan-table th {
    font-size: 13px;
    font-weight: 600;
}

#trascoder-unsubscribe-dialog {
    display: none;
}
.rtm-transcoder-sidebar .button {
	display: block;
	opacity: 0.8;
	position: relative;
	text-decoration: none;
}
.rtm-social-share .dashicons {
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 4px;
}
.rtm-social-share .twitter .dashicons {
    color: #45b0e3;
}
.rtm-social-share .facebook .dashicons {
    color: #3b5998;
}
.rtm-social-share .wordpress .dashicons {
    color: #21759b;
}
.rtm-social-share .rss .dashicons {
    color: #ff6600;
}
#mce-EMAIL {
	width: 100%;
}
#mc-embedded-subscribe {
    display: block;
    margin: 10px auto 0;
    width: 100%;
}